//color de la navbar
$colorNavbar:#27272F;

//Color de de fondo del main
$colotMain: #32333D;

//Color letras titulos
$colorLetrasNavbar: #ffffffb2;

//El color de fondo del efecto de las card
$backgroundColorCardHover: #555;